Source: https://www.youtube.com/watch?v=2uvysYbKdjM&t=12s

In [7]:
print("hello world")

hello world

DataFrames

In [2]:
import pandas as pd
print(pd.__file__)
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]], columns=["A", "B", "C"], index=["x","y","z",'zz'])
print(df)

d:\Новая папка\OneDrive\Рабочий стол\learning-visualisation-of_data\venv\Lib\site-packages\pandas\__init__.py
     A   B   C
x    1   2   3
y    4   5   6
z    7   8   9
zz  10  11  12

In [ ]:
print("5 lines par default")
df.head() # 5 lines par default
df.head(3)

5 lines par default
5 lines par default

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [8]:
df.tail(2)

     A   B   C
z    7   8   9
zz  10  11  12

In [11]:
print("df.index.tolist():")
print(df.index.tolist())

print("\ndf.columns:")
print(df.columns)

print("\ndf.info():")
df.info()

df.index.tolist():
['x', 'y', 'z', 'zz']

df.columns:
Index(['A', 'B', 'C'], dtype='object')

df.info():
<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, x to zz
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      int64
 1   B       4 non-null      int64
 2   C       4 non-null      int64
dtypes: int64(3)
memory usage: 300.0+ bytes

Python Pandas

In [ ]:
df.describe()
#std - standard deviation

               A          B          C
count   4.000000   4.000000   4.000000
mean    5.500000   6.500000   7.500000
std     3.872983   3.872983   3.872983
min     1.000000   2.000000   3.000000
25%     3.250000   4.250000   5.250000
50%     5.500000   6.500000   7.500000
75%     7.750000   8.750000   9.750000
max    10.000000  11.000000  12.000000

In [13]:
df.nunique()
df['A'].unique()

array([ 1,  4,  7, 10])

In [14]:
df.size # n * m

12

In [15]:
df.shape

(4, 3)

Loading in Dataframes from Files

In [26]:
results = pd.read_csv('./data/results.csv')
coffee = pd.read_csv('./data/coffee.csv')
# results_parquet = pd.read_parquet('./data/results.parquet') # need to be installed pip install pyarrow
regions = pd.read_csv("https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/data/noc_regions.csv")

In [ ]:
import os
print(os.getcwd())       
print(os.listdir('./'))   
print(os.listdir('./data'))