Source: https://www.youtube.com/watch?v=2uvysYbKdjM&t=12s

In [13]:
import pandas as pd
import numpy as np

DataFrames

In [ ]:
print(pd.__file__)
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]], columns=["A", "B", "C"], index=["x","y","z",'zz'])
print(df)

In [ ]:
print("5 lines par default")
df.head() # 5 lines par default
df.head(3)

In [ ]:
df.tail(2)

In [ ]:
print("df.index.tolist():")
print(df.index.tolist())

print("\ndf.columns:")
print(df.columns)

print("\ndf.info():")
df.info()

Python Pandas

In [ ]:
df.describe()
#std - standard deviation

In [ ]:
df.nunique()
df['A'].unique()

In [ ]:
df.size # n * m

In [ ]:
df.shape

Loading in Dataframes from Files

In [14]:
#results = pd.read_csv('./data/result.csv')
coffee = pd.read_csv('./data/coffee.csv')
bios = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/data/bios.csv')
results_parquet = pd.read_parquet('./data/results.parquet') # need to be installed pip install pyarrow
regions = pd.read_csv("https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/data/noc_regions.csv")
coffee
coffee.sample(10, random_state=1)

          Day Coffee Type  Units Sold
3     Tuesday       Latte          20
7    Thursday       Latte          30
6    Thursday    Espresso          40
2     Tuesday    Espresso          30
10   Saturday    Espresso          45
4   Wednesday    Espresso          35
1      Monday       Latte          15
12     Sunday    Espresso          45
0      Monday    Espresso          25
13     Sunday       Latte          35

In [ ]:
olympics_data = pd.read_excel('./data/olympics-data.xlsx', sheet_name="results")
#need to install 'pip install openpyxl'
olympics_data.head()

In [ ]:
import os
print(os.getcwd())       
print(os.listdir('./'))   
print(os.listdir('./data'))

Accessing Data with Pandas

In [ ]:
# loc
# coffee.loc[Rows, Columns]

print()
print(coffee.loc[0])
print()
print(coffee.loc[[0,1,5]])
print()
print(coffee.loc[5:9, ["Day", "Units Sold"]])
print()
print(coffee.iloc[:, [0,2]])

loc - the name of a row or column, but not the position
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html#pandas.DataFrame.loc

iloc - by row or column number (as in Python lists)
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html#pandas.DataFrame.iloc

Other Stuff

In [ ]:
print()
coffee.index = coffee["Day"] #to change index
print() 
coffee = pd.read_csv('./warmup-data/coffee.csv')

In [ ]:
coffee.loc[1:3, "Units Sold"] = 10 # to set value

# to access only one element
coffee.at[0,"Units Sold"] 
coffee.iat[3,1]

In [ ]:
# to access collums
coffee.Day #if its a single word
coffee["Day"]

In [ ]:
#Sort Values

print()
coffee.sort_values(["Units Sold"])
print()
coffee.sort_values(["Units Sold"], ascending=False)
print()
coffee.sort_values(["Units Sold", "Coffee Type"], ascending=[0,1])
# 0 → descending
# 1 → ascending

##### Iterate over dataframe with for loop

In [ ]:
for index, row in coffee.iterrows():
    print(index)
    print(row)
    print("Coffee Type of Row:", row["Coffee Type"])

#### Filtering Data

In [ ]:
bios.head()

In [ ]:
bios.loc[bios["height_cm"] > 215]
bios.loc[bios["height_cm"] > 215, ["name", "height_cm"]]
bios[bios['height_cm'] > 215][["name","height_cm"]] # Short-hand syntax (without .loc)
bios[(bios['height_cm'] > 215) & (bios['born_country']=='USA')] # Multiple filter conditions
bios[bios['name'].str.contains("keith", case=False)] # Filter by string conditions

### Filter by string conditions

In [ ]:
bios[bios['name'].str.contains("keith", case=False)] # Filter by string conditions
bios[bios['name'].str.contains('keith|patrick', case=False)]

In [ ]:
# Other cool regex filters

# Find athletes born in cities that start with a vowel:
vowel_cities = bios[bios['born_city'].str.contains(r'^[AEIOUaeiou]', na=False)]

# Find athletes with names that contain exactly two vowels:
two_vowels = bios[bios['name'].str.contains(r'^[^AEIOUaeiou]*[AEIOUaeiou][^AEIOUaeiou]*[AEIOUaeiou][^AEIOUaeiou]*$', na=False)]

# Find athletes with names that have repeated consecutive letters (e.g., "Aaron", "Emmett"):
repeated_letters = bios[bios['name'].str.contains(r'(.)\1', na=False)]

# Find athletes with names ending in 'son' or 'sen':
son_sen_names = bios[bios['name'].str.contains(r'son$|sen$', case=False, na=False)]

# Find athletes born in a year starting with '19':
born_19xx = bios[bios['born_date'].str.contains(r'^19', na=False)]

# Find athletes with names that do not contain any vowels:
no_vowels = bios[bios['name'].str.contains(r'^[^AEIOUaeiou]*$', na=False)]

# Find athletes whose names contain a hyphen or an apostrophe:
hyphen_apostrophe = bios[bios['name'].str.contains(r"[-']", na=False)]

# Find athletes with names that start and end with the same letter:
start_end_same = bios[bios['name'].str.contains(r'^(.).*\1$', na=False, case=False)]

# Find athletes with a born_city that has exactly 7 characters:
city_seven_chars = bios[bios['born_city'].str.contains(r'^.{7}$', na=False)]

# Find athletes with names containing three or more vowels:
three_or_more_vowels = bios[bios['name'].str.contains(r'([AEIOUaeiou].*){3,}', na=False)]

### Query functions

In [ ]:
bios.query('born_country == "USA" and born_city == "Seattle"')

## Adding / Removing Columns

In [ ]:
coffee['price'] = 4.99
coffee.head()

In [ ]:
coffee['new_price'] = np.where(coffee['Coffee Type']=='Espresso', 3.99, 5.99) 
# if the column does not yet exist, it is created

In [ ]:
coffee

In [ ]:
coffee.drop(columns=['price'], inplace=True) # to delete a column or row
# inplace=True -> to change DataFrame
# inplace=False, by default -> to make a new copy of the DataFrame

# the below would also have worked
# coffee = coffee.drop(columns=['price'])

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html#pandas.DataFrame.drop